# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# WeChat Mini Program
project.config.json
project.private.config.json

# Dependencies
node_modules/
miniprogram_npm/
word/miniprogram_npm/
word/pages/editor/miniprogram_npm/
